extends master.pug
block title
    | Actor Details
block content
    h1 #{actor.name}
    h4 Born: #{actor.birthday}
    h2 Filmography
    ul(class='verticalList')
        for movie in actor.movies
            li
                a(href='/movie/'+movie.movieID) #{movie.name} - released #{movie.releaseDate}
    h4#favoriteActorStatus Change your favorite actor:
    button.addFavoriteActor Make this actor my favorite
    div#status(style='font-weight:bold;font-size:22px')
    script(src="/socket.io/socket.io.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script.
        var socket = io();
        $('.addFavoriteActor').on('click', function(e){
            socket.emit('addFavoriteActor',
                {
                    userID: #{sessionUserID},
                    actorID: #{actor.actorID}
                },
                function (data) {
                    $('#favoriteActorStatus').text(data)
            });
        });