extends master.pug
block title
    | Movie Details
block content
    h1= movie.name
    h4 Release Date: #{movie.releaseDate}
    ul(class='verticalList')
        for actor in movie.actors
            li
                a(href='/actor/'+actor.actorID) #{actor.name}
    div.add
        h4#list This movie is not on your list: 
        button(onclick="addToWatched(1)") Add to watched list
        button(onclick="addToWatched(0)") Add to watch later list
    form.rating
        h4#ratingStatus Rating:
        div Ratings are automatically saved and will show up on a page reload
        fieldset
            span.ratingPicker
                each i in [1, 2, 3, 4, 5, 6, 7, 8 , 9, 10]
                    input(type="radio" id='r' + i name="rating" value=i checked=(i == movie.userRating))
                    label(for='r' + i) #{i}
    h4 User Ratings
    div Average rating: #{movie.averageRating}
    ul(class='verticalList')
    for rating in movie.ratings
        li #{rating.rating}/10 - #{rating.name}
    script(src="/socket.io/socket.io.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script.
        var socket = io();
        $('.ratingPicker input').on('click', function(e){
            socket.emit('setRating',
                {
                    userID: #{sessionUserID},
                    movieID: #{movie.movieID},
                    rating: $(this).val()
                },
                function (data) {
                    $('#ratingStatus').text(data)
            });
        });
        function addToWatched(watched){
            socket.emit('setList',
                {
                    userID: #{sessionUserID},
                    movieID: #{movie.movieID},
                    watched: watched
                },
                function (data) {
                    $('#list').text(data)
            });
        }
            