extends master.pug
block title
    | Movie List
block content
    h1= 'My Account'
    h4 Watched Movies
    if watchedList.length > 0
        ul(class='verticalListSectioned')
            for movie in watchedList
                li 
                    a(href='/movie/'+movie.movieID) #{movie.name} - released #{movie.releaseDate}                    
                    button.btn-primary.btn.btnDelete.deleteMovieFromList(data-movieID=movie.movieID) Delete
    else
        p No Movies in List

    h4 Watch Later
    if watchLaterList.length > 0
        ul(class='verticalListSectioned')
            for movie in watchLaterList
                li  
                    a(href='/movie/'+movie.movieID) #{movie.name} - released #{movie.releaseDate}
                    button.btn-primary.btn.btnDelete.deleteMovieFromList(data-movieID=movie.movieID) Delete
    else
        p No Movies in List
    h4#listStatus.red
    h4 Favorite Actor
    if favoriteActor.length > 0
        ul(class='verticalListSectioned')
            li
                a(href='/actor/'+favoriteActor[0].actorID) #{favoriteActor[0].name}
                button.btn-primary.btn.btnDelete.deleteFavoriteActor Delete
    else
        p No favorite actor
    h4 My Ratings
    if ratingsList.length > 0
        for movie in watchedList
            ul(class='verticalListSectioned')
                li
                    span.ratingView #{movie.rating}
                    a.ratingView(href='/movie/'+movie.movieID) #{movie.name} - released #{movie.releaseDate}
                    button.btn-primary.btn.btnDelete.deleteMovieRating(data-movieID=movie.movieID) Delete
    else
        p You have not rated any movies
    h4#changePasswordResult Change Password
    form.narrow
        div.relative
            input.form-control(type='password' name='password' required)
            span.placeholderLabel New Password
        div.relative
            input.form-control(type='password' name='confirmPassword' required)
            span.placeholderLabel Confirm Password
        button.btn.btn-primary(type='submit') Change Password

    script(src="/socket.io/socket.io.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script.
        var socket = io();
        //- Delete movies from watched and watch later lists
        $('.deleteMovieFromList').on('click', function(e){
            socket.emit('deleteMovieFromList', {
                userID: #{sessionUserID},
                movieID: $(this).attr('data-movieID')
            },
            function (data) {
                location.reload();
            });            
        });
        //- Delete movie rating
        $('.deleteMovieRating').on('click', function(e){
            socket.emit('deleteMovieFromList', {
                userID: #{sessionUserID},
                movieID: $(this).attr('data-movieID')
            },
            function (data) {
                location.reload();
            });            
        });
        //- Delete favorite actor
        var parent;
        $('.deleteFavoriteActor').on('click', function(e){
            socket.emit('deleteFavoriteActor', {
                userID: #{sessionUserID}
            },
            function (data) {
                location.reload();
            });            
        });
        //- Change password form
        $('form').submit(function(e){
            e.preventDefault();
            password = $('input[name="password"]').val();
            confirmPassword = $('input[name="confirmPassword"]').val();
            if (password != confirmPassword){
                $('#changePasswordResult').addClass('red').text('Passwords do not match');
                return false;
            }
            socket.emit('changePassword', {
                userID: #{sessionUserID},
                password: password
            }, function (data) {
                $('#changePasswordResult').text('Password changed');
            });
        });